<head>
    <link rel="stylesheet" type="text/scss" href="register.component.scss">
</head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div id="logo1">
        <img width="100" style="margin: 0 16px;" alt="lqs Logo" src="assets/b.png" />
    </div>
    <span>WELCOME</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
    <div class="registerDiv">
        <input type="text" class="TextBoxRegister" name="EmailTB" placeholder="     Full name">
        <input type="text" class="TextBoxRegister" name="EmailTB" placeholder="     Email">
        <input type="password" class="TextBoxRegister" name="PWTB" placeholder="    Password">
        <input type="password" class="TextBoxRegister" name="PWTB" placeholder="    Confirm Password">
        <input type="text" class="TextBoxRegister" name="PWTB" placeholder="    Class Code">
        <input type="text" class="TextBoxRegister" name="PWTB" placeholder="    Instructor Name">
        <button class="button">Submit</button>
    </div>


    <div class="Bottom_toolbar" role="banner" style="font-family: 'Frank Ruhl Libre', serif; font-weight: bold;">
        <div class="version" style="position: absolute; left: 15px;">
            <span>© 2023 LQS </span>
            <span>V {{version}}</span>
        </div>
        <div class="Version_time">
            <span>{{date}} {{time}}</span>
        </div>
    </div>