<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<head>
  <link rel="stylesheet" type="text/scss" href="app.component.scss">
</head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div id="logo1">
    <img width="100" alt="lqs Logo" src="assets/b.png" />
  </div>
  <span>WELCOME</span>
  <div class="spacer"></div>
  <input type="text" class="EmailTextBoxLogin" name="EmailTB" placeholder="Email">
  <input type="text" class="PasswordTextBoxLogin" name="PWTB" placeholder="Password">
  <button class="button">Login</button>
  <button class="button">Register</button>
</div>

<div class="content" role="main">
  <div id="logoDiv">
    <img class="logo2" width="700" alt="lqs Logo" src="assets/b.png" />
  </div>
</div>
<div class="Bottom_toolbar" role="banner" style="font-family: 'Frank Ruhl Libre', serif; font-weight: bold;">
  <div class="version" style="position: absolute; left: 15px;">
    <span>© 2023 LQS </span>
    <span>V {{version}}</span>
  </div>
  <div class="Version_time">
    <span>{{date}} {{time}}</span>
  </div>
</div>
<!-- Resources -->
<h2>Resources</h2>
<p>Here are some links to help you get started:</p>

<router-outlet></router-outlet>