
<head>
    <link rel="stylesheet" type="text/scss" href="edit-quiz.component.scss">
</head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div id="logo1">
        <img width="100" style="margin: 0 16px;" alt="lqs Logo" src="assets/b.png" />
    </div>
</div>




<form #quizCodeForm="ngForm" (ngSubmit)="onSubmitQuizCode(quizCodeForm)">
    <mat-form-field appearance="outline">
      <mat-label>Quiz Code</mat-label>
      <input matInput type="text" name="quizCode" ngModel required />
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">Edit Quiz</button>
  </form>
  


<div class="Bottom_toolbar" role="banner" style="font-family: 'Frank Ruhl Libre', serif; font-weight: bold;">
    <div class="version" style="position: absolute; left: 15px;">
        <span>© 2023 LQS </span>
        <span>V {{version}}</span>
    </div>
    <div class="Version_time">
        <span>{{date}} {{time}}</span>
    </div>
</div>